$base_font: 1rem;
$font_family: 'Open Sans', sans-serif;;
$padding_sm: $base_font;
$padding_md: $base_font*1.5;
$padding_lg: $base_font*2;
$margin_sm: $base_font;
$margin_md: $base_font*1.5;
$margin_lg: $base_font*2;
$primary: white;
$secondary: black;



